{% extends 'app/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
 <div class="container mt-5">
    <div class="bg-gray-100 p-10 rounded-xl shadow-lg">
        <h1 class="text-4xl font-bold mb-5">Olá, mundo!</h1>
        <p class="text-lg text-gray-600 mb-8">Bem-vindo ao meu incrível aplicativo Flask</p>
            <hr class="my-4">
    <p class="text-lg text-gray-600 mb-8">Este é um aplicativo Flask simples que demonstra como usar Tailwind com modelos Flask.</p>
    <a class="bg-indigo-500 rounded-xl text-white py-2 px-4 hover:scale-105 duration-300" href="#" role="button">Saiba mais</a>
</div>
</div>
{% endblock %}